.full-width-container {
    background: #377837;
    width: 100vw;
    
  }

.container {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #48773F;
}

.container h1 {
    text-align: center;
    color: white;
    font-size: 46px;
    padding-bottom: 20px;
}
